@import url('https://fonts.googleapis.com/css?family=Poppins|Ubuntu');

:root{
    --primary: 200;    /* blue */
    --FS1: 3.157rem;
    --FS2: 2.369rem;
    --FS3: 1.777rem;
    --FS4: 1.333rem;
    --FS5: 1rem;
    --FS_small: 0.75rem;
    --blueLb: #03799B;
    --grayInput: #545F73;
    --blueBt: #336890;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::after,
*::before{
    box-sizing: inherit;
}
html{
    margin-top: 2rem;
    font-size: 20px;
    line-height: 1.5;
    font-family: Poppins,Ubuntu, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
main{
    width: 90%;
    margin: 0 auto;
    border: 1px solid #aaa;
}
header{
    background-color: hsl(var(--primary),50%,45%);
    background-image: url(../img/jf-brou-358069-unsplash.jpg);
    /*background-image: url(../img/wyatt-ryan-367017-unsplash.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    height: 300px;
}
header h1{
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: var(--FS1);
    font-weight: 900;
    color: hsl(var(--primary),0,100%);
    text-shadow: 4px 4px var(--grayInput);
}
header img{
    float: left;
}
.form-box .search-btn{
    width: 6rem;
    height: 2.5rem;
    font-size: var(--FS5);
    color: hsl(var(--primary),0%,100%);
    background-color: var(--blueBt);
}
.form-box label{
    color: var(--blueLb);
}
.form-box input{
    color: var(--grayInput);
}
input#min.price::after{
    content: "$" attr(data-price);
    display: block;
    margin-top: -1.5rem;
}
input.price#max::after{
    content: "$" attr(data-price);
    display: block;
    margin-top: -1.5rem;
}

/*************************************************
            MEDIA QUERIES for layout
*************************************************/
@media (max-width: 599px){
    header h1{
        margin-bottom: 2rem;
        text-align: center;
    }
    header h1 img{
        height: 100px;
        width: 100px;
        /*float: left;*/
    }
    .form-box{
        padding: 0.5rem 1rem;
        display: flex;
        flex-direction: column;
    }
    .form-box label{
        font-size: var(--FS5);
        flex-basis: 100%;
        flex-grow: 0;
        flex-shrink: 0;
    }
    .form-box input{
        font-size: var(--FS5);
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 1;
    }
    .form-box .search-btn{
        margin-left: 0rem;
    }
}
@media (min-width: 600px) and (max-width: 999px) {
    header h1 {
        text-align: center;
    }
    header h1 img{
        height: 100px;
        width: 100px;
        /*float: left;*/
    }
    form {
        padding: 0.5rem 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-row-gap: 0.5rem;
    }
    .form-box label,
        .form-box input{
        font-size: var(--FS5);
    }
    .place {
        display: block;
        grid-column: 1 / span 2;
        grid-row: 1;
    }
    .place label {
        width: 100%;
        margin-bottom: 0.5rem;
    }
    .place input {
        width: 100%;
    }
    .check-in {
        display: block;
        grid-column: 1;
        grid-row: 2;
    }
    .check-in label{
        width: 100%;
    }
    .check-in input{
        width: 100%;
    }
    .check-out {
        font-size: var(--FS5);
        display: block;
        grid-column: 2;
        grid-row: 2;
    }
    .check-out label{
        width: 100%;
    }
    .check-out input{
        width: 100%;
    }
    .min-price {
        display: block;
        grid-column: 1;
        grid-row: 3;
    }
    .min-price label{
        width: 100%;
    }
    .min-price input{
        width: 95%;
    }
    .max-price {
        display: block;
        grid-column: 2;
        grid-row: 3;
    }
    .max-price label{
        width: 95%;
    }
    .max-price input{
        width: 100%;
    }
    .dogs {
        display: block;
        grid-column: 1;
        grid-row: 4;
    }
    .dogs label{
        width: 100%;
    }
    .dogs input{
        width: 100%;
    }
    .search{
        grid-column: 2;
        grid-row: 4;
        justify-self: end;
        align-self: flex-end;
    }
}
@media (min-width: 1000px){
    header{
        width: 35%;
        height: 400px;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: right;
        float: left;
        margin-right: 2rem;
        margin-bottom: 1 rem;
    }
    header h1{
        text-align: center;
    }
    header h1 img{
        height: 70px;
        width: 70px;
        /*float: left;*/
    }
    form{
        width: 60%;
        height: 400px;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-row-gap: 1rem;
    }
    .form-box label,
        .form-box input{
        font-size: var(--FS5);
    }
    .place input{    /* teste */
        font-size: var(--FS5);
    }
   .place {
        display: block;
        grid-column: 1 / span 2;
        grid-row: 1;
    }
    .place label {
        width: 100%;
        margin-bottom: 0.5rem;
    }
    .place input {
        width: 100%;
    }
    .check-in {
        display: block;
        grid-column: 1;
        grid-row: 2;
    }
    .check-in label{
        width: 100%;
    }
    .check-in input{
        width: 100%;
    }
    .check-out {
        display: block;
        grid-column: 2;
        grid-row: 2;
    }
    .check-out label{
        width: 100%;
    }
    .check-out input{
        width: 100%;
    }
    .min-price {
        display: block;
        grid-column: 1;
        grid-row: 3;
    }
    .min-price label{
        width: 100%;
    }
    .min-price input{
        font-size: var(--FS_small);
        width: 95%;
    }
    .max-price {
        display: block;
        grid-column: 2;
        grid-row: 3;
    }
    .max-price label{
        width: 100%;
    }
    .max-price input{
        font-size: var(--FS_small);
        width: 95%;
    }
    .dogs {
        display: block;
        grid-column: 1;
        grid-row: 4;
    }
    .dogs label{
        width: 100%;
    }
    .dogs input{
        width: 100%;
    }
    .search{
        grid-column: 2;
        grid-row: 4;
        justify-self: end;
        align-self: flex-end;
    } 
}
        